<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form
      method="POSt"
      action="/listings/<%= listing._id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label
          for="title"
          class="form-label"
          >Title</label
        >
        <input
          type="text"
          class="form-control"
          name="listing[title]"
          value="<%= listing.title %>"
          required
        />

        <div class="valid-feedback">Title looks good!</div>
      </div>
      <div class="mb-3">
        <label
          for="description"
          class="form-label"
          >description</label
        >
        <textarea
          name="listing[description]"
          required
        >
<%= listing.description %></textarea
        >
        <div class="invalid-feedback">Please enter a short description</div>
      </div>
      <div class="mb-3">
        Original listing Image <br />
        <img
          src="<%= originalImageUrl %>"
          alt=""
        />
        <!-- <label
          for="image"
          class="form-label"
          >Upload new image</label
        >
        <input
          type="file"
          name="listing[image]"
          class="form-control"
        /> -->
      </div>

      <div class="mb-3">
        <label
          for="image"
          class="form-label"
          >Upload new image</label
        >
        <input
          type="file"
          name="listing[image]"
          class="form-control"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label
            for="price"
            class="form-label"
            >price</label
          >
          <input
            type="number"
            class="form-control"
            name="listing[price]"
            value="<%= listing.price %>"
            required
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3 col-md-4">
          <label
            for="country"
            class="form-label"
            >country</label
          >
          <input
            class="form-control"
            type="text"
            name="listing[country]"
            value="<%= listing.country %>"
            required
          />
          <div class="invalid-feedback">country name should be valid</div>
        </div>
      </div>
      <div class="mb-3">
        <label
          for="location"
          class="form-label"
          >location</label
        >
        <input
          type="text"
          class="form-control"
          name="listing[location]"
          value="<%= listing.location %>"
          required
        />
        <div class="invalid-feedback">location should be valid</div>
      </div>
      <div class="dropdown">
        <select
          name="listing[Category]"
          class="Category mt-2"
        >
          <option selected>category</option>
          <option value="Trending">Trending</option>
          <option value="Rooms">Rooms</option>
          <option value="Iconic cities">Iconic cities</option>
          <option value="Moutains">Moutains</option>
          <option value="Castles">Castles</option>
          <option value="Amazing Pools">Amazing Pools</option>
          <option value="Camping">Camping</option>
          <option value="Farms">Farms</option>
          <option value="Arctic">Arctic</option>
          <option value="Domes">Domes</option>
          <option value="Boats">Boats</option>
        </select>
        <p>Your Category is : <span class="output"></span></p>
      </div>
      <button
        class="btn btn-dark edit-btn mt-3"
        onclick="getOption()"
      >
        Edit
      </button>
    </form>
    <script type="text/javascript">
      function getOption() {
        selectElement = document.querySelector(".Category");
        output = selectElement.value;
        console.log(output);
        document.querySelector(".output").textContent = output;
      }
    </script>
  </div>
</div>
